@import "../variables";
@import "../devices";


@keyframes line-width {
    from {
      width: 0;
    }
    to {
     width: 220px;
    }
  }


.citySection{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-right: 20px;
    height: 100%;

    .icon_temp{
        display: grid;
        // grid-auto-flow: row;
        justify-content: start;
        align-content: center;
        margin-bottom:20px;

        img{
            height: 12vw;
        }

        .citySection_temp{
            justify-content: center;
            display: grid;
            font-size: 50px;
            color: white;
            margin-bottom:40px;
        }
    }

    .citySection_city_text{
        display: grid;
        grid-auto-flow: row;
        align-content: center;
        font-size: 40px;
        color: white;
        margin-bottom: 40px;

        .line{
            display: grid;
            height: 2px;
            width: 220px;
            background-color: white;
            margin: auto;
            animation-name: line-width;
            animation-duration: 2s;
        }

        .city_name{
            align-content: center;
            display: grid;
            margin: auto; 
            padding-bottom: 20px;
        }

        .city_weather{
            padding-top: 20px;
            align-content: center;
            display: grid;
            margin: auto;
            text-align: center;
        }
    }

}


.MuiTypography-body1{
    font-size: 18px !important;
}


/* mobile */
@media  #{$break1} {
   
    .citySection{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        't'
        'b';
        padding-right: 0;

        .icon_temp{
            grid-area: b;
            justify-content: center;
            text-align: center;

            img{
                height: 20vw;
            }
        }

        .citySection_city_text{
            grid-area: t; 
        }
        
    }
    
}

@media #{$break2} {
    .citySection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-right: 20px;
        height: 100%;
        grid-gap: 40px;

        .icon_temp{
            margin-right: 40px;
            justify-content: end;
        }

        .citySection_city_text{
            justify-content: start;
        }

       }


}

/* full */

 @media #{$break3} {
     
    
}