@import "../variables";
@import "../devices";

.favorite_city_box:hover {
    transform: scale(1.08);
}

.favorite_city_box{
    transition: all .2s ease-in-out;
    display: grid;
    background-color: $mainColor;
    height: 250px;
    border-radius: 20px;
    color: #FFF;

    .favorite_name{
        margin-top:20px;
        font-size: 25px;
    }

    .favorite_temp{
        margin: auto;
        font-size: 25px;
    }

    .favorite_icon{
        margin-top:20px
    }

    .favorite_text{
        font-size: 20px;
    }

    img{
        height: 50px;
    }
}

@media  #{$break1} {
    .favorite_city_box{
        background-color: $mediumColor
    }

}

