
@import "../variables";
@import "../devices";


.favoritesSection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1100px;
    text-align: center;
    margin: auto;
    grid-gap: 55px;
       
}

.favorites_title{
    text-align: center;
    color: white; 
    margin-bottom: 50px;
    margin-top: 40px;
}


 
@media  #{$break1} {
   
    .favoritesSection{
        grid-template-columns: repeat(2, 1fr);
        width: 330px;
        grid-gap: 30px;
           
    }

    .favorites_box{
        margin-bottom: 30px;
    }
        
    }

    @media #{$break2} {

        .favoritesSection{
            grid-template-columns: repeat(3, 1fr);
            width: 600px;
            grid-gap: 30px;
               
        }

    }