@import "../variables.scss";
@import "../devices.scss";

.favoriteBtn{
    display: grid;
    justify-content: end;
    position: absolute;   
    right: 0px;

    @media #{$break1} {
        top: -97px;
    }
   

}




.favoriteIcon{
    font-size: 35px !important;
}