@import "../variables";
@import "../devices";

@keyframes slide-from-bottom {
    from {
      margin-right: -30%;
    }
    to {
      margin-right: 0;
    }
  }

.dailyForecast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
    background-color: $mainColor;
    margin: 15px;
    margin-right: 50px;
    width: 450px;
    height: 60px; 
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    margin-right: 0%;
    animation-name: slide-from-bottom;
    animation-duration: 2s;
    

  .dateNumb{
    display: grid; 
    align-content: center;
    justify-content: start; 
  }

  .dateText{
      display: grid; 
      align-content: center;
  }

  .dailyForecast_icon{
      display: grid; 
      align-content: center;
  }

  .dailyForecast_temp{
      display: grid; 
      align-content: center;
  }
}

@media  #{$break1} {
    .dailyForecast{
      width: 300px;
      margin-right: 0;
      margin:12px;
      background-color: $mediumColor;
      height: 70px; 
      border-radius: 10px;
      font-size: 20px;
      margin-right: 2%;
      
      .dateText{
        justify-content: start; 
        margin-left: 12px;
      }
    }     
}

@media  #{$break2} {
    .dailyForecast{
      background-color: $mediumColor;
    }
}

