@import "../variables";
@import "../devices";

.navBar{
   display: grid;
   min-height: 68px;
   background-color:#263238a8;
   grid-auto-flow: column;
   padding-left: 20px;
   padding-right: 20px;
   font-size: 18px;
}

// .navBar .dark_mood{
//    background-color:#969ea1a8;
// }

// .navBar .light_mood{
//    background-color:#263238a8;
// }

.headerLinks{
  display: grid; 
  grid-auto-flow: column;
  align-content: center;
  justify-content: end; 
  grid-gap: 20px;
}

.logo{
   display: grid; 
   align-content: center;
  justify-content: start; 
  color: white;
}


.link {
   color: #FFF;
   text-decoration: none;
 }
 .link:hover {
    color: rgb(150, 150, 189)
 }