@import "../variables";
@import "../devices";


.mainInput{
    display: grid;
    padding-left: 95px;
}

.toast {
    font-family: $font2;
}

@media  #{$break1} {
   
    .mainInput{
        display: grid;
        padding-left: 0px;
    }


    .MuiInputBase-root{
       font-size: 1.4rem !important;

    }

    
}

