@import "../variables";
@import "../devices";

.weatherBox{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 87%;
    margin: auto;
    padding-top: 32px;
}

.search_fav{
    display: grid;
    grid-template-columns: 9fr 1fr ;
    margin-top: 40px;
    margin-bottom: 20px;     
}

.fiveDaysBox{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
}


#light-Mode{
    color: black;
 }
 
 #dark-Mode{
    color: rgb(255, 255, 255);
 }
    



 
@media  #{$break1} {
   
.weatherBox{

    display: grid;
    grid-gap: 0px;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    height: 0;
    width: 100%;
    margin: auto;
    padding-top: 32px;
   
}
    
}

@media #{$break2} {
 
    .weatherBox{

        grid-gap: 0px;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        height: 0;
        width: 100%;
        margin: auto;
        padding-top: 32px;
       
    }

}

/* full */

 @media #{$break3} {
     
    
}