@import "../variables";
@import "../devices";

@keyframes slideNavbar {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
        height: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        height: 68;
    }
}
  
.listItems{
    background-color: #80a0b0;
    color: white;
}

.navBar_mobie{
    background-color: #80a0b0;
    color: white;
   grid-auto-flow: row;
   display: grid;
}

.closeNav{
    display: grid;
}

.nav-link{
    color: inherit;
    text-decoration: none;
    height: 60px;
    font-size: 27px;
    display: grid;
    align-content: center;
    animation-duration: 1.5s;
    animation-name: slideNavbar;
    justify-content: center;
}

.menuIcon{
    margin: 10px !important;
    height: 30px;
    float: left;
    font-size: 46px !important;
}

