@import "../variables.scss";
@import "../devices.scss";

@keyframes slideNavbar {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
        height: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        height: 68;
    }
}
  
.listItems{
    background-color: #80a0b0;
    color: white;
}

.nav-link{
    color: inherit;
    text-decoration: none;
    height: 60px;
    font-size: 27px;
    display: grid;
    align-content: center;
    animation-duration: 0.5s;
    animation-name: slideNavbar;
    justify-content: center;
    transition: 0.3s;

    @media  #{$break1} {
    background-color: #6c8794;
    }
    
}


.navBar_mobie{
    background-color: #80a0b0;
    color: white;
    grid-auto-flow: row;
    display: grid;

    .small-menu-classname{
        a:hover{
            background-color: rgba(255, 255, 255, 0.384);
            transition: 0.3s;
        }
    }

    
}

.closeNav{
    display: grid;
}

.menuIcon{
    margin: 10px !important;
    height: 30px;
    float: left;
    font-size: 46px !important;
}



@media  #{$break1} {
    .listItems{
        position: relative;
        .nav-toggle-buttons{
            background-color: #80a0b0;
            position: absolute;
            top: -60px;
            right: 23px;
      }
      } 
}