$mainColor: rgba(255, 255, 255, 0.295);
$mediumColor: rgba(165, 185, 204, 0.616);

$font1: 'Open Sans', sans-serif;
$font2: 'Quicksand', sans-serif;

$backroundPhoto_light: './images/light.jpg';
$backroundPhoto_dark:"./images/dark.jpg"
