.box-firstSection{
    display: grid;
    grid-auto-flow: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    
}

.box-first{
    display: grid;
    grid-auto-flow: column; 
    justify-content: start;
    align-content: center;
    font-size: 30px;
    
}

.box-second{
    display: grid;
    grid-auto-flow: column; 
    justify-content: end;
    grid-gap: 10px;
}

.weatherPhoto{
    height: 150px;
}

.MuiSvgIcon-root{
  font-size: 40px !important;
}

.MuiTypography-body1{
    font-size: 18px !important;
}


/* mobile */
@media only screen and (max-width: 765px) {
    
}

/* middle */
@media only screen and (min-width: 766px) and (max-width: 1199px) {
   

}

/* full */

 @media only screen and (min-width: 1200px) {
     
    
}