@import "./styles/variables";
@import "./styles/devices";

// h1 {
//   color: $myColor;
// }

html, body {
  height: 100%;
  margin: 0;
  font-family: $font2;
}

body{


  .light_mood{
    height: 100%;
    background-image: url($backroundPhoto_light);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
  }
  
  .dark_mood{
    height: 200vh;
    background-image: url($backroundPhoto_dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
  }


}

